* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Disabling the scroll wheel */
#card-container::-webkit-scrollbar,
#artist-card-container::-webkit-scrollbar,
#playlist-card-container::-webkit-scrollbar,
#fav-artist-card-container::-webkit-scrollbar {
  display: none;
}

#card-container,
#artist-card-container,
#playlist-card-container,
#fav-artist-card-container {
  height: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

/* Make sure the play-card itself has no margin to avoid unwanted gaps */
.play-card {
  display: inline-block;
  margin-right: 10px;
}

/* .card{
    height: 180px;
} */
.themed-btn {
  color: #1b8673;
}
.play-btn {
  cursor: pointer;
}
